.programacao-box {
    width: 100%;
    height: 50%;
    border-color: inherit;
}

.prog-main {
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
}

.prog-1 {
    width: 100%;
    border-width: 0 0 2px 0;
    border-style: solid;
}

.prog-2 {
    width: 100%;
    border-width: 2px 0 0 2px;
    border-style: solid;
}
